
<mat-toolbar class="top" >
  <mat-toolbar-row>
      <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
      </button>
   <h1> KanBan </h1>
  
  </mat-toolbar-row>

</mat-toolbar>
<mat-toolbar color="primary" class="matfooter">
<div class="footer">
  CopyRight © Kanban Board 2022. ALL RIGHTS RESERVED. &nbsp;&nbsp;&nbsp;&nbsp; <a href="/privacy-policy " style="color:white;text-decoration: none;">Privacy Policy</a>
</div>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav opened="true" mode="side" class="sidenav1" >
      <div style="display:inline-block">
          <img class="pic"
            src="./assets/pngtree-business-people-avatar-icon-user-profile-free-vector-png-image_4815126.jpg"><br>
            
          <h3 style="margin-left: 50px;color:black"><b>{{name}}</b></h3>
          <h3 style="margin-left: 30px;color:black">Project Manager</h3>
        </div>
        <hr>
    <mat-nav-list >
      <a mat-list-item style="color:black"><mat-icon>dashboard</mat-icon>DashBoard</a>
      <a mat-list-item  style="color:black"> <mat-icon>help</mat-icon>Help</a>
      <a mat-list-item  routerLink="/logout" style="color:black"> <mat-icon>logout</mat-icon>Log Out</a>
      <a mat-list-item  (click)="createKanban()" style="color:black">Create Project</a>
     
      <hr>
  <!-- display all projects  -->
     <div style="color:black ;">
      <h3 style="margin-left:10px ;">List of Project Name</h3>
      <mat-form-field appearance="outline"  class="sidenav2" >
         <mat-label>Project Name</mat-label>
          <!-- <mat-select #val    >
             
            <mat-option  *ngFor="let t of project" value="{{t.projectId}}" >{{t.projectName}}</mat-option>
           
        
          
    
          </mat-select> -->
          <mat-select #val [(ngModel)]="selectedProject">
            <mat-option *ngFor="let t of project" value="{{t.projectId}}"
              (click)="selectProject()">{{t.projectName}} </mat-option>
          </mat-select>
          <button  *ngIf="selectedProject" mat-button matSuffix mat-icon-button>
            <mat-icon (click)="deleteProject()" style="color: azure;">delete</mat-icon>
          </button>
         
        </mat-form-field> <br>
         <!-- <button mat-raised-button   (click)="deleteProject()" >delete</button> -->
        <div style="margin-left:10px ;margin-top: 10px;">
          <h4><mat-icon style="background-color:red;">all_out</mat-icon>  :High priority</h4>
          <h4> <mat-icon style="background-color:rgba(30, 0, 255, 0.768);">all_out</mat-icon> :Medium priority</h4>
          <h4><mat-icon style="background-color:rgba(65, 121, 4, 0.904);">all_out</mat-icon> :Low priority</h4>
       </div>
      </div>

   </mat-nav-list>
    
  </mat-sidenav>

  <mat-sidenav-content style="height:88vh;background-color: aliceblue;color: black;" >
   
  

    <div *ngIf="dispayProject" >

      <div style="margin-left: 200px;margin-bottom:30px;font-size: 30px;font-weight: 25px;font-family:'League Spartan';margin-top: 15px;" *ngIf="istableEnable">
        Project Name  &nbsp; :<span style="font-weight: bold;margin-left: 1%;">{{ projectName1}}</span> &nbsp;  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Duration &nbsp; : &nbsp;<span style="font-weight: bold;margin-left: 1%;">{{duration1}}</span>
      </div>


</div>
  <!-- start of column creation -->
<mat-drawer-container style="background-color:transparent" >
  

 
  
  <mat-card class="mat-elevation-z4"  style="width: 310px;height:auto;text-align: center;background-color:aliceblue;margin-left:10px ;" *ngFor="let t of getcolumnDetail" 
  class="example-container">

  
    <mat-card-content  >
        <mat-card-title style="font-size:medium;color: black;">{{t.columnId}}</mat-card-title>
        <mat-card-subtitle style="font-size:medium;color: black;">  <mat-icon (click)="deleteColumn(t.columnId)">delete</mat-icon></mat-card-subtitle>
         
    <div cdkDropList id="{{t.columnId}}" [cdkDropListData]="t.taskList"
    [cdkDropListConnectedTo]="['{{t.columnId}}']" class="example-list" (cdkDropListDropped)="drop($event)">

    <div class="example-box" *ngFor="let item of t.taskList"     cdkDrag >
      <!-- <mat-icon [style.backgroundColor]="item.priority" >all_out</mat-icon> -->
      
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin-left:200px ;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewTask(item)">
          <mat-icon>dialpad</mat-icon>
          <span>View</span>
        </button>
       
        <button mat-menu-item  (click)="editTask(item)">
          <mat-icon>edit</mat-icon>
          <span>edit</span>
        </button>
        
      <button mat-menu-item (click)="deleteTask(item.taskId)" >
        <mat-icon>delete</mat-icon>
        <span>delete</span>
      </button>
      </mat-menu>

    
       <!-- <mat-card-title  style="margin-top: -50px;"><input style="width:100px; height:2px;border-radius: 2px;border: none;" [style.backgroundColor]="item.priority"></mat-card-title>  -->
      
      
       <br> 

       <div style="margin-top:-35px; margin-right:auto;">
     
        <h2 [style.color]="item.priority">{{item.title}}</h2></div>

  <div style="margin-left:auto ;">
          <span><mat-icon >alarm_on </mat-icon>{{item.deadline}}</span>
          <span style="margin-left:50px ;"> <mat-icon >assignment_ind</mat-icon> {{item.assigne}}</span>
    </div>


  </div>
    </div>
   

  
    </mat-card-content>
    
</mat-card>

<button mat-raised-button *ngIf="dispayProject" (click)="add()" style="margin-right: 5px;font-size:20px;border:none;margin-top: 9px;" class="add-task-button">+ Column</button>
</mat-drawer-container>

<button mat-raised-button  *ngIf="dispayProject" (click)="subTask()" class="add">Add Task</button>
</mat-sidenav-content>

</mat-sidenav-container>

<!-- <mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page" class="page">
</mat-paginator> -->

  <!-- end of column -->
 